.page-header
  %h1 
    Pre Orders
    %small Where the orders fighting!
    %small
      %a.btn.btn-mini.btn-danger{ :href => "#{pre_orders_path}/1", "data-confirm" => 'Deleting all pre-orders. Are you sure?', "data-method" => :delete, "title" => "(just for testing convenience)" }
        #i.icon-trash.icon-white

.row
  .span9
    %ul.thumbnails#pre_order
      = render @pre_orders


.row
  .span4
    = render 'form'

= subscribe_to "/pre_orders/new"